.LoginContainer {
  width: 100%;
  max-width: 300px;
  min-height: calc(100vh - 220px);
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3); }
  .LoginContainer .loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    margin-bottom: 15px; }
    .LoginContainer .loginBox h3 {
      color: #4f4a4a; }
    .LoginContainer .loginBox .title img {
      width: 50%;
      height: width;
      margin-bottom: -20px; }
  .LoginContainer .logged {
    width: 100%;
    min-height: calc(100vh - 220px);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center; }
    .LoginContainer .logged img {
      margin-bottom: 40px;
      width: 80%;
      height: width;
      border-radius: 50%;
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3); }
  .LoginContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 65%; }
    .LoginContainer form label {
      margin: 10px 0;
      font-weight: bold; }
    .LoginContainer form input {
      width: 100%;
      padding: 10px;
      background: white;
      outline: none;
      resize: none;
      border: 0;
      font-family: 'Montserrat',sans-serif;
      transition: all .3s;
      border-bottom: 2px solid #55555a; }
    .LoginContainer form button {
      margin: 10px 0;
      width: 50%;
      padding: 5px 10px;
      border: 1px solid #5a5858;
      background-color: #a2a2a2;
      color: white;
      font-weight: bold;
      border-radius: 20px;
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3); }

.loading-content {
  width: 50%;
  align-self: center;
  display: flex;
  justify-content: center; }

.loading {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0; }

@-webkit-keyframes enter {
  0% {
    opacity: 0;
    top: -10px; }
  5% {
    opacity: 1;
    top: 0px; }
  50.9% {
    opacity: 1;
    top: 0px; }
  55.9% {
    opacity: 0;
    top: 10px; } }

@keyframes enter {
  0% {
    opacity: 0;
    top: -10px; }
  5% {
    opacity: 1;
    top: 0px; }
  50.9% {
    opacity: 1;
    top: 0px; }
  55.9% {
    opacity: 0;
    top: 10px; } }

@-moz-keyframes enter {
  0% {
    opacity: 0;
    top: -10px; }
  5% {
    opacity: 1;
    top: 0px; }
  50.9% {
    opacity: 1;
    top: 0px; }
  55.9% {
    opacity: 0;
    top: 10px; } }
  .loading .square {
    background: red;
    width: 7px;
    height: 7px;
    float: left;
    top: -10px;
    margin-right: 5px;
    margin-top: 5px;
    position: relative;
    opacity: 0;
    -webkit-animation: enter 6s infinite;
    animation: enter 6s infinite; }
  .loading .enter {
    top: 0px;
    opacity: 1; }
  .loading .square:nth-child(1) {
    -webkit-animation-delay: 1.8s;
    -moz-animation-delay: 1.8s;
    animation-delay: 1.8s; }
  .loading .square:nth-child(2) {
    -webkit-animation-delay: 2.1s;
    -moz-animation-delay: 2.1s;
    animation-delay: 2.1s; }
  .loading .square:nth-child(3) {
    -webkit-animation-delay: 2.4s;
    -moz-animation-delay: 2.4s;
    animation-delay: 2.4s;
    background: #fdc96f; }
  .loading .square:nth-child(4) {
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
    animation-delay: 0.9s; }
  .loading .square:nth-child(5) {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s; }
  .loading .square:nth-child(6) {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s; }
  .loading .square:nth-child(8) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  .loading .square:nth-child(9) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s; }
  .loading .clear {
    clear: both; }
  .loading .last {
    margin-right: 0; }
