.LoginContainer {
    width: 100%;
    max-width: 300px;
    min-height: calc(100vh - 220px);
    margin-top: 100px;
    background-color: rgba(white,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow:0px 2px 10px rgba(0, 0, 0, 0.3);
    .loginBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        padding: 30px;
        border-radius: 6px;
        margin-bottom: 15px;
        h3 {
            color: rgb(79, 74, 74);
        }
        .title {
        
            img {
                width: 50%;
                height: width;
                margin-bottom: -20px;
             
            }
        }
    }
    .logged {
        width: 100%;
        min-height: calc(100vh - 220px);
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        img {
            margin-bottom: 40px;
            width: 80%;
            height: width;
            border-radius: 50%;
            -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
            -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
            box-shadow:0px 2px 10px rgba(0, 0, 0, 0.3);
        }
        
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 65%;
     

        label {
            margin: 10px 0 ;
            font-weight: bold;
        }
        input {
            width: 100%;
            padding: 10px;
            background: white;
            outline: none;
            resize: none;
            border: 0;
            font-family: 'Montserrat',sans-serif;
            transition: all .3s;
            border-bottom: 2px solid #55555a;
        }
        button {
            margin: 10px 0;
            width: 50%;
            padding: 5px 10px;
            border: 1px solid rgb(90, 88, 88);
            background-color: rgb(162, 162, 162);
            color: white;
            font-weight: bold;
            border-radius: 20px;
            -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
            -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
            box-shadow:0px 2px 10px rgba(0, 0, 0, 0.3);
        }
    }
}

.loading-content{
    width: 50%;
    align-self: center;
    display: flex;
    justify-content: center;

}
.loading{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;

    $squarew: 7px;
        $squareh: 7px;
        $squaremargin: 5px;
        $loaderw: $squarew * 3 + $squaremargin *2;
        $loaderh: $squareh * 3 + $squaremargin *2;
        $delayenter: 0.3s;
        $topenter: -10px;

        @mixin transition($value) {
        -webkit-transition: $value ;
        -moz-transition: $value ;
                transition: $value ;
        }

        @mixin delay( $delay ) {
        -webkit-animation-delay: $delay;
        -moz-animation-delay: $delay;
        animation-delay: $delay;
        }
        @-webkit-keyframes enter{
        0%   { 
            opacity: 0;
            top: $topenter;
        }
        5%   { 
            opacity: 1;
            top: 0px;
        }
        50.9% { 
            opacity: 1;
            top: 0px;
        }
        55.9% { 
            opacity: 0;
            top: - $topenter;
        }
        }
        @keyframes enter{
        0%   { 
            opacity: 0;
            top: $topenter;
        }
        5%   { 
            opacity: 1;
            top: 0px;
        }
        50.9% { 
            opacity: 1;
            top: 0px;
        }
        55.9% { 
            opacity: 0;
            top: - $topenter;
        }
        }
        @-moz-keyframes enter{
        0%   { 
            opacity: 0;
            top: $topenter;
        }
        5%   { 
            opacity: 1;
            top: 0px;
        }
        50.9% { 
            opacity: 1;
            top: 0px;
        }
        55.9% { 
            opacity: 0;
            top: - $topenter;
        }
        }

        .square{
            background: rgb(255, 0, 0);
            width: $squarew;
            height: $squareh;
            float: left;
            top: $topenter;
            margin-right: $squaremargin;
            margin-top: $squaremargin;
            position:relative;
            opacity: 0;
            -webkit-animation: enter 6s infinite;
            animation: enter 6s infinite;
        }
        .enter{
            top: 0px;
            opacity: 1;
        }
        .square:nth-child(1){
        @include delay(6 * $delayenter);
        }
        .square:nth-child(2){
        @include delay(7 * $delayenter);
        }
        .square:nth-child(3){
        @include delay(8 * $delayenter);
        background: #fdc96f;
        }
        .square:nth-child(4){
        @include delay(3 * $delayenter);
        }
        .square:nth-child(5){
        @include delay(4 * $delayenter);
        }
        .square:nth-child(6){
        @include delay(5 * $delayenter);
        }
        .square:nth-child(7){
        }
        .square:nth-child(8){
        @include delay(1 * $delayenter);
        }
        .square:nth-child(9){
        @include delay(2 * $delayenter);
        }
        .clear{
        clear: both;
        }
        .last{
        margin-right:0;
        }

        }