.sort {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 0.8rem;
  align-items: center; }
  .sort .sort-container {
    margin-left: 5px;
    display: flex;
    border: 1px solid #ccc;
    line-height: 24px;
    border-radius: 3px; }
  .sort .sort-option {
    border-left: 1px solid #eee;
    cursor: pointer;
    padding: 0 8px;
    margin: 2px 0;
    display: flex; }
    .sort .sort-option .arrow-sort {
      border: 5px solid transparent;
      border-top: 6px solid black;
      margin-top: 9px;
      margin-left: 5px; }

.sort-mobile {
  display: flex;
  align-items: center;
  justify-content: center; }
  .sort-mobile span {
    font-size: 0.8rem; }
  .sort-mobile select {
    margin-left: 5px; }
