/* BURGER MENU */
nav.menuBurger {
  width: 60%;
  background-color: white;
  min-height: 100vh;
  position: fixed;
  top: 48px;
  right: 0;
  transition: 0.5s;
  z-index: 101; }
  nav.menuBurger li {
    padding: 10px 20px;
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: center;
    transition: 0.3s;
    border-bottom: 1px ridge rgba(0, 0, 0, 0.2);
    border-top: 1px ridge rgba(0, 0, 0, 0.2); }
    nav.menuBurger li:hover {
      background-color: rgba(0, 0, 0, 0.2); }
  nav.menuBurger .burgerLink {
    color: black;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    height: 100%; }
    nav.menuBurger .burgerLink.activeLink {
      color: greenyellow; }

/* NORMAL MENU*/
.normalMenu {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .normalMenu .normalMenuList li {
    display: inline-block;
    padding: 0 10px;
    transition: 0.3s; }
  .normalMenu .normalMenuList .normal-ul {
    display: flex;
    align-items: center; }
  .normalMenu .normalMenuList .normalLi {
    font-weight: bold;
    transition: 0.2s; }
    .normalMenu .normalMenuList .normalLi:hover {
      text-decoration: none;
      transform: scale(1.1); }
    .normalMenu .normalMenuList .normalLi li {
      color: #575757;
      text-decoration: none;
      transition: 0.2s; }
      .normalMenu .normalMenuList .normalLi li:hover {
        color: #2d2b2b; }
    .normalMenu .normalMenuList .normalLi.activeLink li {
      color: greenyellow; }

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0; }

.burger-user {
  height: 48px;
  width: 50px;
  position: fixed;
  display: flex;
  margin-left: 5px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer; }

.user-img {
  width: 38px;
  height: 38px;
  background-size: contain; }

.arrow {
  border: 7px solid transparent;
  border-top: 7px solid black;
  margin-top: 10px; }

.userInfo {
  position: fixed;
  top: 48px;
  background-color: white;
  border: 1px solid black;
  z-index: 111; }
  .userInfo ul {
    width: 100px; }
    .userInfo ul li {
      padding: 5px 10px; }
  .userInfo .name {
    font-weight: bold;
    font-size: 0.8rem;
    border-bottom: 1px solid black; }
  .userInfo .logout {
    font-size: 0.8rem; }

.normal-user {
  height: 48px;
  width: 50px;
  cursor: pointer;
  display: flex;
  margin-left: 5px;
  align-items: center;
  justify-content: space-between; }

.header {
  height: 48px;
  width: 100%;
  display: flex;
  background-color: white;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  position: fixed;
  top: 0;
  z-index: 100; }
  .header .backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100; }
  .header .burger-icon {
    height: 48px;
    width: 48px;
    position: fixed;
    right: 0;
    transition: 0.5s;
    z-index: 101; }
    .header .burger-icon .burgerClick {
      width: 48px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px 0; }
      .header .burger-icon .burgerClick div {
        width: 62%;
        height: 5px;
        margin: 2px;
        border-radius: 2px;
        background-color: white;
        border: 2px solid black; }

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  font-family: 'Joti One', cursive; }
  .logo .logoImg {
    height: 80px;
    width: 180px; }
    .logo .logoImg img {
      width: 100%;
      height: 100%;
      background-size: contain;
      background-position: center; }

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.loader,
.loader:before,
.loader:after {
  background: #ff3333;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em; }

.loader {
  color: #ff3333;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: ''; }

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.loader:after {
  left: 1.5em; }

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em; }
  40% {
    box-shadow: 0 -2em;
    height: 5em; } }

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em; }
  40% {
    box-shadow: 0 -2em;
    height: 5em; } }

.LoginContainer {
  width: 100%;
  max-width: 300px;
  min-height: calc(100vh - 220px);
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3); }
  .LoginContainer .loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    margin-bottom: 15px; }
    .LoginContainer .loginBox h3 {
      color: #4f4a4a; }
    .LoginContainer .loginBox .title img {
      width: 50%;
      height: width;
      margin-bottom: -20px; }
  .LoginContainer .logged {
    width: 100%;
    min-height: calc(100vh - 220px);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center; }
    .LoginContainer .logged img {
      margin-bottom: 40px;
      width: 80%;
      height: width;
      border-radius: 50%;
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3); }
  .LoginContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 65%; }
    .LoginContainer form label {
      margin: 10px 0;
      font-weight: bold; }
    .LoginContainer form input {
      width: 100%;
      padding: 10px;
      background: white;
      outline: none;
      resize: none;
      border: 0;
      font-family: 'Montserrat',sans-serif;
      transition: all .3s;
      border-bottom: 2px solid #55555a; }
    .LoginContainer form button {
      margin: 10px 0;
      width: 50%;
      padding: 5px 10px;
      border: 1px solid #5a5858;
      background-color: #a2a2a2;
      color: white;
      font-weight: bold;
      border-radius: 20px;
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3); }

.loading-content {
  width: 50%;
  align-self: center;
  display: flex;
  justify-content: center; }

.loading {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0; }

@-webkit-keyframes enter {
  0% {
    opacity: 0;
    top: -10px; }
  5% {
    opacity: 1;
    top: 0px; }
  50.9% {
    opacity: 1;
    top: 0px; }
  55.9% {
    opacity: 0;
    top: 10px; } }

@keyframes enter {
  0% {
    opacity: 0;
    top: -10px; }
  5% {
    opacity: 1;
    top: 0px; }
  50.9% {
    opacity: 1;
    top: 0px; }
  55.9% {
    opacity: 0;
    top: 10px; } }

@-moz-keyframes enter {
  0% {
    opacity: 0;
    top: -10px; }
  5% {
    opacity: 1;
    top: 0px; }
  50.9% {
    opacity: 1;
    top: 0px; }
  55.9% {
    opacity: 0;
    top: 10px; } }
  .loading .square {
    background: red;
    width: 7px;
    height: 7px;
    float: left;
    top: -10px;
    margin-right: 5px;
    margin-top: 5px;
    position: relative;
    opacity: 0;
    -webkit-animation: enter 6s infinite;
    animation: enter 6s infinite; }
  .loading .enter {
    top: 0px;
    opacity: 1; }
  .loading .square:nth-child(1) {
    -webkit-animation-delay: 1.8s;
    -moz-animation-delay: 1.8s;
    animation-delay: 1.8s; }
  .loading .square:nth-child(2) {
    -webkit-animation-delay: 2.1s;
    -moz-animation-delay: 2.1s;
    animation-delay: 2.1s; }
  .loading .square:nth-child(3) {
    -webkit-animation-delay: 2.4s;
    -moz-animation-delay: 2.4s;
    animation-delay: 2.4s;
    background: #fdc96f; }
  .loading .square:nth-child(4) {
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
    animation-delay: 0.9s; }
  .loading .square:nth-child(5) {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s; }
  .loading .square:nth-child(6) {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s; }
  .loading .square:nth-child(8) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  .loading .square:nth-child(9) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s; }
  .loading .clear {
    clear: both; }
  .loading .last {
    margin-right: 0; }

.user {
  display: flex;
  height: calc((100vh - 48px)/10);
  margin-top: 5px;
  align-items: center;
  transition: 0.3s; }
  .user:hover {
    transform: scale(1.1); }
  .user img {
    width: height;
    height: 100%;
    background-image: url();
    border-radius: 50%;
    z-index: 2;
    -webkit-box-shadow: 0 0 10px black;
    -moz-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
    position: relative;
    background: white url("./images/200w.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .user .login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65%;
    width: 100%;
    margin-left: -10px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-radius: 0 8px 8px 0;
    -webkit-box-shadow: 0 0 10px black;
    -moz-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black; }

.sort {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 0.8rem;
  align-items: center; }
  .sort .sort-container {
    margin-left: 5px;
    display: flex;
    border: 1px solid #ccc;
    line-height: 24px;
    border-radius: 3px; }
  .sort .sort-option {
    border-left: 1px solid #eee;
    cursor: pointer;
    padding: 0 8px;
    margin: 2px 0;
    display: flex; }
    .sort .sort-option .arrow-sort {
      border: 5px solid transparent;
      border-top: 6px solid black;
      margin-top: 9px;
      margin-left: 5px; }

.sort-mobile {
  display: flex;
  align-items: center;
  justify-content: center; }
  .sort-mobile span {
    font-size: 0.8rem; }
  .sort-mobile select {
    margin-left: 5px; }

.details-container {
  width: 100%;
  max-width: 400px;
  min-height: calc(100vh - 85px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; }
  .details-container .user-info {
    width: 100%; }
  .details-container .userAvatar {
    margin: 10px auto;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px black;
    -moz-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
    display: flex;
    justify-content: center;
    align-items: center; }
    .details-container .userAvatar img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: white url("./images/200w.gif");
      background-size: contain;
      background-position: center; }
  .details-container .userDetails .userLogin {
    height: 1.5rem;
    font-weight: bold;
    font-size: 1.2rem; }
  .details-container .userDetails .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px; }
    .details-container .userDetails .details p {
      font-size: 0.9rem;
      margin: 2px 5px; }
      .details-container .userDetails .details p strong {
        margin: 0 5px; }
  .details-container .repositories {
    min-height: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .details-container .repositories .loader-container {
      width: 90%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .details-container .repositories .loader-container .loader {
        margin: 75px auto; }
    .details-container .repositories .repository {
      width: 100%;
      height: auto;
      margin: 10px 0;
      padding: 5px 5px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      transition: 0.3s; }
      .details-container .repositories .repository:hover {
        transform: scale(1.02);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); }
      .details-container .repositories .repository p {
        font-size: 0.7rem; }
      .details-container .repositories .repository p.description {
        font-size: 0.6rem;
        word-wrap: break-word; }

.pagination {
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  border-radius: 5px; }
  .pagination .left {
    font-weight: bold;
    cursor: pointer;
    width: 33.333%; }
  .pagination .right {
    font-weight: bold;
    cursor: pointer;
    width: 33.333%; }

.close {
  position: fixed;
  right: 25px;
  background-image: url("./images/close.png");
  width: 25px;
  height: 25px;
  background-size: contain; }

.repoDetailsDescription {
  width: 100%;
  height: calc((100vh - 70px)/2);
  -webkit-box-shadow: 0 0 10px black;
  -moz-box-shadow: 0 0 10px black;
  box-shadow: 0px 2px 10px black;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column; }
  .repoDetailsDescription .name {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .repoDetailsDescription .owner {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column; }
    .repoDetailsDescription .owner .ownerImg {
      width: 100%;
      height: 80%; }
      .repoDetailsDescription .owner .ownerImg img {
        height: 90%;
        width: height;
        border-radius: 50%;
        -webkit-box-shadow: 0 0 10px black;
        -moz-box-shadow: 0 0 10px black;
        box-shadow: 0px 2px 10px black;
        margin: 5px; }
    .repoDetailsDescription .owner .ownerName {
      margin: 5px; }
  .repoDetailsDescription .description {
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    justify-content: flex-start; }
    .repoDetailsDescription .description .description-text {
      align-self: center;
      margin-top: 5px; }

.repoDetailsContributors {
  width: 100%; }
  .repoDetailsContributors .loader-container {
    width: 100%;
    height: 50%; }

.App {
  text-align: center; }

.error {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center; }
  .error .errorMsg {
    width: 300px;
    height: 250px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; }
  .error h3 {
    color: white; }
  .error .close {
    top: 70px; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'Montserrat',sans-serif; }

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto; }

a {
  text-decoration: none;
  color: black; }
  a:visited {
    color: black; }

/* GRID */
.row {
  width: 100%;
  margin-top: 65px; }

.col-1-4 {
  display: inline-block;
  padding: 0 8px;
  width: 100%;
  margin-bottom: 0;
  display: inline-block;
  height: calc(100vh - 48px)/10; }

@media screen and (min-width: 641px) {
  .burger-icon {
    display: none; }
  .menuBurger {
    display: none; }
  .burgerLogo {
    display: none; }
  .logo {
    width: auto; }
  .burger-user {
    display: none; }
  .userInfo {
    position: absolute;
    top: 48px;
    background-color: white;
    border: 1px solid black;
    transform: translate(-36%, 10%); }
  .sort-mobile {
    display: none; }
  .login-content {
    background-image: url("./images/bgImg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right; } }

@media screen and (max-width: 640px) {
  .normal-user {
    display: none; }
  .normalMenu {
    display: none; }
  .sort {
    display: none; }
  .LoginContainer {
    margin-left: auto;
    margin-right: auto; } }

@media screen and (min-width: 550px) {
  .col-1-4 {
    width: 50%; } }

@media screen and (min-width: 840px) {
  .col-1-4 {
    width: 33.3333%; }
  .details-container {
    flex-direction: row;
    min-width: 100%;
    justify-content: space-between;
    align-items: flex-start; }
    .details-container .repoDetailsDescription {
      width: 40%;
      margin-right: 50px;
      margin-top: 20px; }
    .details-container .repoDetailsContributors {
      width: 60%; }
      .details-container .repoDetailsContributors .col-1-4 {
        width: 50%; }
    .details-container .user-info {
      width: 30%;
      margin-right: 50px; }
    .details-container .repositories {
      width: 70%; }
      .details-container .repositories h5 {
        font-size: 1rem; }
      .details-container .repositories .repository p {
        font-size: 1rem; }
        .details-container .repositories .repository p.description {
          font-size: 1rem; }
          .details-container .repositories .repository p.description strong {
            float: left; } }

@media screen and (min-width: 1060px) {
  .col-1-4 {
    width: 25%; } }
